<div class="other-container">

  <ng-container *ngFor="let user of users">
    <div *ngIf="user.user_id != self_user_id" class="user-container">
      <div class="username">{{user.display_name}}</div>
      <div class="dice-roll-container">
        <div class="dice-roll-result-container">
          <div class="result-title">Result</div>
          <div class="dice-roll-result-label">Dice Roll Result(Bonus): </div>
          <div class="dice-roll-result">{{user.result_string}}</div>
          <div class="dice-roll-total-label">Total:</div>
          <div class="dice-roll-total">{{user.total_val}}</div>
        </div>
      </div>
    </div>
  </ng-container>

</div>
