<div class="self-container">
  <div class="user-container">
    <div class="username">DAICHI (YOU) - Room ID: {{room_id}}</div>
    <div class="dice-roll-container">

      <div class="dice-roll-form-container">
        <div class="dice-roll-title">Dice Setting</div>
        <div class="dice-roll-form">
          <div class="dice-type">
            Dice:
            <input class="input-number" type="text" name="dice-number" value="2">
            d
            <input class="input-number" type="text" name="dice-type" value="6">
          </div>
          <div class="modifier">
            Bonus:
            <select name="symbol">
              <option value="+" selected>+</option>
              <option value="-">-</option>
            </select>
            <input class="input-number" type="text" name="modifier" value="0">
          </div>
          <button class="roll-button">ROLL</button>
        </div>
      </div>

      <div class="dice-roll-result-container">
        <div class="result-title">Result</div>
        <div class="dice-roll-result-label">Dice Roll Result(Bonus): </div>
        <div class="dice-roll-result">-</div>
        <div class="dice-roll-total-label">Total:</div>
        <div class="dice-roll-total">-</div>
      </div>

    </div>
  </div>

</div>
