<div class="self-container">
  <div class="user-container">
    <div class="username">
      <div>{{self_user.display_name}} (YOU) - Room ID: {{room_id}}</div>
      <div (click)="onClickEdit()">EDIT</div>
    </div>
    <div class="dice-roll-container">

      <div class="dice-roll-form-container">
        <div class="dice-roll-title">Dice Setting</div>
        <div class="dice-roll-form">
          <div class="dice-type">
            Dice:
            <input #dice_count class="input-number" type="tel" name="dice-number" value="2">
            d
            <input #dice_type class="input-number" type="tel" name="dice-type" value="6">
          </div>
          <div class="modifier">
            Bonus:
            <select #bonus_symbol name="symbol">
              <option value="+" selected>+</option>
              <option value="-">-</option>
            </select>
            <input #bonus_val class="input-number" type="tel" name="modifier" value="0">
          </div>
          <button class="roll-button" (click)="onClickRoll(dice_count.value, dice_type.value, bonus_symbol.value, bonus_val.value)">ROLL</button>
        </div>
      </div>

      <div class="dice-roll-result-container">
        <div class="result-title">Result</div>
        <div class="dice-roll-result-label">Dice Roll Result(Bonus): </div>
        <div class="dice-roll-result">{{self_user.result_string}}</div>
        <div class="dice-roll-total-label">Total:</div>
        <div class="dice-roll-total">{{self_user.total_val}}</div>
      </div>

    </div>
  </div>

</div>
